Flask==1.1.2
Jinja2==2.11.2
MarkupSafe==1.1.1
blinker==1.4
brotlipy==0.7.0
cffi==1.14.3
click==7.1.2
decorator==4.4.2
gunicorn==20.0.4
httpbin==0.7.0
itsdangerous==1.1.0
pycparser==2.20
raven==6.10.0
werkzeug==1.0.1
