attrs==24.3.0
blinker==1.9.0
brotlicffi==1.1.0.0
cffi==1.17.1
click==8.1.8
decorator==5.1.1
flasgger==0.9.7.1
Flask==3.1.0
greenlet==3.1.1
gunicorn==23.0.0
httpbin==0.10.2
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
MarkupSafe==3.0.2
mistune==3.1.0
packaging==24.2
pycparser==2.22
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.22.3
six==1.17.0
Werkzeug==3.1.3
